.mobileHeader {
	width: 100vw;
	height: 100vh;
	background: url('./../images/Artboard_1.png');
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 1rem;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
	position: relative;

	@include r(320) {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
		clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
	}

	&__logo {
		max-width: 100%;

		@include r(600) {
			width: 65%;
			display: block;
			margin: 0 auto !important;
		}
	}
}

.margin-negative-top {
	margin-top: -2rem !important;

	@include r(1024) {
		margin: 0 !important;
	}
}
