.mobileFooter {
	height: 100%;
	padding-top: 5rem;
}

.portal {
	&-icon {
		max-width: 100%;

		@include r(320) {
			width: 60%;
			display: block;
			margin: 0 auto !important;
		}
	}

	&-link {
		transition: all 400ms ease;
		outline: none;
		width: 100%;
		display: flex;
		flex-direction: column;
		&:hover,
		&:active,
		&:focus {
			transform: scale(1.1);
			background: none;
		}
	}
}

.copyright {
	color: #fafafa;
	font-size: 1.4rem;
	font-family: Tajawal, sans-serif;
	font-weight: 300;
	text-align: center;
	padding: 0 1rem;

	@include r(320) {
		font-size: 1.5rem;
	}

	@include r(600) {
		font-size: 1.6rem;
	}
}

footer {
	position: static !important;
	margin: 3rem 0 !important;
	text-align: center !important;
}
