.desktop {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url('./../images/Artboard_1.png');
	background-size: cover;
	background-position: center;
	position: relative;
	padding: 0 13.5rem;
	overflow-x: hidden;
	@include r(1024) {
		padding: 0 5rem;
	}

	&-logo {
		max-width: 100%;
	}
}

.portal {
	&-icon {
		width: 10.5em;
	}
}

.margin-negative-top {
	margin-top: -2rem !important;
}

.btn,
.btn:hover,
.btn:active {
	outline: none;
}

.btn {
	background: #ef6731;
	border: none;
	display: block;
	margin: 0 auto !important;
	font-family: "Tajawal", sans-serif;
	font-weight: 500;
	font-size: 2rem;
	padding: 1.5rem 1rem;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	box-shadow: 0px 4px 1.5rem rgba(239, 103, 49, 0.15);

	color: #fafafa;
	transition: all 300ms ease;
	cursor: pointer;

	&:hover,
	&:focus {
		background: #fafafa;
		color: #ef6731;
		transform: scale(1.1);
		box-shadow: 0 2rem 4rem rgba(black, .25);
		.btn-cursor-fill {
			fill: #ef6731;
		}
	}

	&:active {
		transform: scale(.95);
		box-shadow: 0 1rem 2rem rgba(black, .35);
	}
}

.btn-cursor {
	vertical-align: middle;
	max-width: 100%;
	margin-left: 1.3rem !important;
}

.btn-text {
	display: inline;
}

.footer-desktop {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-items: flex-end;
	height: 10em;
}

.copyright {
	text-align: right;
	width: 50%;
}
