*,
*::after,
*::before {
	padding: 0;
	margin: 0 !important;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;

	@include r(320) {
		font-size: 64%;
	}

	@include r(425) {
		font-size: 66%;
	}
}

body {
	background: #222;
	width: 100%;
	height: auto;
	overflow-x: hidden;
}

.mobile-site {
	@include r(1024) {
		display: none;
	}
}

.desktop-site {
	display: none;

	@include r(1024) {
		display: flex;
	}
}

.particles {
	position: absolute;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
