.heading {
	&__1 {
		font-family: 'Tajawal', sans-serif;
		font-weight: 500;
		font-size: 3rem;
		text-align: center;
		letter-spacing: 0.02em;

		color: #fafafa;

		text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

		@include r(600) {
			margin-top: -2rem !important;
		}
	}

	&__2 {
		font-family: 'Tajawal', sans-serif;
		font-weight: 500;
		font-size: 2.8rem;
		text-align: center;
		letter-spacing: 0.03em;
		margin-bottom: 2rem;

		color: #fafafa;
	}
}

.bold {
	font-weight: 700;
}

.yellow {
	color: #eecd45 !important;
}

.brown {
	color: #a85b2f !important;
}

.orange {
	color: #ef6731 !important;
}

.blue {
	color: #2f7080 !important;
}

.red {
	color: #d01109 !important;
}

// a tag reset
.link,
.link:active,
.link:hover,
.link:focus {
	outline: none;
	color: inherit;
	text-decoration: none;
}

.link {
	font-family: 'Tajawal', sans-serif;
	font-size: 1.8rem;
	text-align: center;
	font-weight: 100;
	margin-top: 2rem !important;

	color: #fafafa;

	text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.15);
	position: relative;
	z-index: 2;
	transition: all 300ms ease;

	@include r(320) {
		font-size: 2.2rem;
	}

	&::before {
		content: '';
		position: absolute;
		width: 11.4rem;
		height: 3px;
		left: 50%;
		bottom: 10%;
		transform: translate(-50%, -50%);
		background: #ef6731;
		z-index: -1;
	}

	&:hover {
		font-size: 2rem;
		color: #ef6731;
		&::before {
			bottom: 2%;
			background: #fafafa;
		}
	}
}

.portal-link,
.portal-link:active,
.portal-link:hover,
.portal-link:focus {
	text-decoration: none;
	color: inherit;
	outline: none;
}

.portal-link {
	display: block;
	font-family: Tajawal;
	font-weight: 700;
	font-size: 2.2rem;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.03em;
	color: #fafafa;

	@include r(320) {
		font-size: 2.4rem;
	}
}

.athys,
.athys:active,
.athys:hover {
	text-decoration: none;
	color: inherit;
	outline: none;
}

.athys {
	font-weight: 700;
	transition: all 600ms ease;

	&:hover,
	&:active,
	&:focus {
		color: darken(#fafafa, 30%);
	}
}
